.no-items {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.4em;
}

.no-items-top {
  margin-top: 50px;
}

.the-list{
  margin: 20px 5% 25px 5%;
  font-family: 'Pacifico', cursive;
  color: rgba(255, 255, 255, .8);
  font-size: 1.5em;
  border-top: 3px solid rgba(37, 173, 135, .8);
  border-bottom: 3px solid rgba(233, 132, 99, .8);
}
