.list-item {
  /*background-color: rgba(102, 205, 170, .75);*/
  background-color: rgba(37, 173, 135, .75);
  border: 1px solid rgb(233, 132, 99);
  /*border: 1px solid #FF8C00;*/
  margin: 10px;
}

.not-completed {
  /*background-color: rgba(102, 205, 170, .75);*/
  background-color: rgba(37, 173, 135, .75);
}

.completed {
  background-color: rgba(128, 128, 128, .75);
}

.complete-btn-completed {
  background-color: rgb(233, 132, 99);
  /*background-color: #FF8C00;*/
  border: 1px solid white;
  color: white;
}

.complete-btn-not-completed {
  background-color: white;
  /*border: 1px solid #ff8c00;*/
  border: 1px solid rgb(233, 132, 99);
}

.list-btn,
.weather-btn {
  margin: 0px, 5px, 5px, 5px;
  padding: 5px;
}

.status {
  margin-top: 10px;
}

.track-status {
  color: white;
  margin: 3px;
}
