@import url('../components/App/App.css');
@import url('../components/Input/Input.css');
@import url('../components/ListItem/ListItem.css');
@import url('../components/Map/GMap.css');
@import url('../components/MapContainer/MapContainer.css');

body {
  /*background: #978B7D;*/
  background-image: url('http://www.publicdomainpictures.net/pictures/190000/velka/travel-background-1469438669rT1.jpg');
  font-family: sans-serif;
  font-weight: 100;
}

#main h1 {
  padding: 20px;
  font-weight: 100;
  font-family: sans-serif;
}

#main {
  text-align: center;
}
