.title-Wander {
  color: rgba(37, 173, 135, .75);
}

.title-List {
  color: rgba(233, 132, 99, .75);
}

.main-body {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.overlay {
  display: none;
}

.drawer {
  background-color: rgba(0, 0, 0, .8);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
  border-radius: 0px;
}

.info-window {
  top: -32px;
}

.tracking-logo {
  height: 18px;
}

.invisible {
  display: none;
}

.input-list {
  width: 100%;
}

.map-container-wrapper {
  width: 100%;
  z-index: 1;
}

.loading-title {
  border-radius: 25px;
  width: 200px;
}

.loaded-title {
  padding: 0;
  padding-right: 5px;
  border-radius: 10px;
  margin: 5px;
}

h1 {
  background-color: rgba(0, 0, 0, 0.8);
}

.loading-header {
  justify-content: center;
}

header {
  font-family: 'Pacifico', cursive;
  display: flex;
}

.loaded-header {
  display: flex;
  justify-content: space-between;
}

.background-img {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background-image: url('http://www.publicdomainpictures.net/pictures/190000/velka/travel-background-1469438669rT1.jpg');
  filter: blur(3px);
}

.start-btn {
  background-color: rgba(37, 173, 135, .75);
  border: 1px solid rgb(233, 132, 99);
  color: rgba(0, 0, 0, 0.8);
  font-size: 2em;
  padding: 10px;
  height: 100px;
  width: 250px;
  margin-top: 10%;
}

.logo {
  height: 26px;
  margin: 0 5px;
  display: none;
}

.load-description-container {
  display: flex;
  justify-content: center;
}

.load-description {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(233, 132, 99, .75);
  width: 35%;
  padding: 3%;
  text-align: center;
  border-radius: 25px;
}

.filter-instructions {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(233, 132, 99);
  padding: 10px 0;
}

.nav-btns {
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 22px;
  text-decoration: none;
  margin: 10px;
  color: #fff;
  position: relative;
  display: inline-block;
  border: none;
}

.nav-btns:focus{
  box-shadow: 3px 4px 4px 0px #c1bfbf;
}

.menu-nav {
  background-color: black;
}

.filter-display-btn {
  background-color: rgb(233, 132, 99);
  box-shadow: 0px 3px 0px 0px #c96f54;
}

.filter-buttons {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,0.75);
  outline: none;
  border: none;
  border-radius: 15px;
  margin-top: 10px;
}

.show-all-btn {
  background: linear-gradient(to bottom, #9e9999 0%, #adabab 40%, #bab6b6 100% );
	box-shadow:
		inset 1px 1px 0px rgba(255,255,255,0.45)
}

.in-prog-btn {
  background: linear-gradient(to bottom, #bf6852 0%, #d3775b 40%, #e98463 100%);
  box-shadow: inset 1px 1px 0px rgba(255,255,255,0.45)
}

.completed-btn {
  background: linear-gradient(to bottom, #1b8766 0%, #20a07a 40%, #25AD87 100%);
  box-shadow: inset 1px 1px 0px rgba(255,255,255,0.45);
  margin-bottom: 15px;
}

.list-display-btn {
  box-shadow: 0px 3px 0px 0px #939292;
}

.add-display-btn {
  background-color: #25AD87;
  box-shadow: 0px 3px 0px 0px #1e755b;
}

.menu-toggle-btn {
  background-color: #444343;
  color: #25AD87;
  padding: 5px 10px;
  font-size: 1.5em;
  height: 40px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, .8);
  border: none;
}

.filter-description {
  color: white;
  font-size: 1.3em;
  margin: 10px 0;
}

.filter-buttons-container {
  margin: 30px;
  background-color: black;
  border: 2px solid gray;
}
