.title-Wander {
  color: #66CDAA;
}

.title-List {
  color: #FF8C00;
}

.main-body {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.input-list,
.map-container {
  width: 40%;
}

h1 {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  width: 200px;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;

}
